 header {
    background-color: rgb(254, 113, 184);
    text-align: center;
    font-weight: bold; 
    height: 10vh;
    margin: 10px;
  }

  .aside1 {
    background-color: #1e90ff;
    text-align: center;
  
  }
  article{
    background-color: rgb(219, 14, 14);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    min-height: 200px;
    margin: 10px;
  }
  
  .column1, .column2, .column3 {
  background-color: rgb(31, 41, 178);
  color: azure;
   padding: 10px;
   text-align: center;
   display: grid;
   border-radius: 10px;
  

  }
  
  .aside2 {
    background-color: skyblue;
    padding: 10px;
    text-align: center;
  
  }
  
  footer {
    background-color: orange;
    margin: 10px;
    text-align: center;
    font-weight: bold;
  }
@media screen and (min-width: 745px) {
 body{
  background-color: aqua;

}
header, footer {
  background-color: pink;
  height: 15vh;
  font-size: 2rem;
  text-decoration: underline solid rgb(9, 99, 224);
  border-radius: 10px;
  display: grid;
  grid-column: 1 /-1;
  justify-content: center;


}
.line2{
  display: grid;
  grid-template-columns: 19% 60% 19%;
  margin:1%;
  gap: 1%;



}

.aside1, .aside2{
  background-color: skyblue;
  text-align: center;
  color: white;
  text-decoration: underline blue;
  font-size: 1.5rem;

}

.container {
  background-color: rgb(219, 14, 14);
  display: grid;
  margin: 20px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
justify-self: center;
}

.column {
  background-color: rgb(31, 41, 178);
  color: white;
  font-weight: bold;
  border-radius: 1;
  display: grid;
  justify-content: center;
  height: 40%;


  
 
}
}